<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 읽기</title>
    <link rel="stylesheet" href="/css/default.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:inline="javascript">
    	function writeReply(){
    		let board_id = [[${board.board_id}]];
    		let content = $("#reply").val();
    		$.ajax({
    			url: "/reply/" + board_id,
    			type: "post",
    			data: {
    				"content": content
    			},
    			success: function(data){
    				console.log(data);
    			},
    			error: function(xhr, status, error){
    				console.log(xhr);
    				console.log(status);
    				console.log(error);
    			}
    		});
    	}
    	
    	function getReplies(){
			let board_id = /*[[${board.board_id}]]*/'';
			$.ajax({
				url: "/reply/" + board_id,
				success: function(data) {
					console.log(data);
				},
				error: function(xhr, status, error){
					console.log(status);
				}
			});
		}
		
		function showReplies(data){
			$("#replies").html("");
			let str = "";
			str += "<table>";
			str += "  <tr>";
			str += "     <th>No.</th>";
			str += "     <th>내용.</th>";			
			str += "     <th>작성자.</th>";			
			str += "     <th>작성일.</th>";
			str += "     </tr>";
			if(data.length >0){
				$(data).each(functioin(idx, obj)){
					str += "<tr>";
					str += "<td>"+ (idx+1) =+ "<td>";
					str += "<td>"+ obj.content + "<td>";
					str += "<td>"+ obj.member_id = ]+ "<td>";
				})
			}	else{
				str += "<tr>"";
				str += "<td class='center' colspan='4'> 등록된 리플이 없다어</td> "
			}		
		}
		
    	//페이지가 로딩되면 getReplies() 함수를 자동으로 호출한다.
    	$(function(){
			getReplies();
		});
    </script>
</head>
<body>
<div id="container">
  <h1>[ 게시판 - 글 읽기 ]</h1>
    <table th:object="${board}">
      <tr>
        <th>제목</th>
        <td th:text="*{title}"></td>
      </tr>
      <tr>
        <th>내용</th>
        <td th:utext="*{contents}"></td>
      </tr>
      <tr>
        <th>조회수</th>
        <td th:text="*{hit}"></td>
      </tr>
      <tr>
        <th>작성일</th>
        <td th:text="${#temporals.format(board.created_time, 'yyyy-MM-dd HH:mm')}"></td>
      </tr>
      <tr>
        <th>작성자</th>
        <td th:text="*{member_id}"></td>
      </tr>
      <tr>
        <th>첨부파일</th>
        <td>
          <a th:if="${file}" th:href="@{/board/download/{id}(id=${file.attachedFile_id})}" th:text="${file.original_filename}"></a>
        </td>
      </tr>
    </table>
    <p>
    <div class="center">
      <input type="button" onclick="location.href='/board/list'" value="목록으로">
      <th:block th:if="${session.loginMember.member_id == board.member_id}">
        <input type="button" th:onclick="|location.href='/board/update?board_id=${board.board_id}'|" value="수정하기">
        <input type="button" th:onclick="|location.href='/board/delete?board_id=${board.board_id}'|" value="삭제하기">
      </th:block>
    </div>
    <p>
    <div>
    	<label for="reply">리플 쓰기</label>
    	<input type="text" id="reply" name="reply">
    	<input type="button" value="등록" onclick="writeReply()">
    </div>
    <p>
		<div id="replies"></div>
	</p>
</div>
</body>
</html>



