<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.repository.BoardMapper">
  <insert id="saveBoard">
    <selectKey keyProperty="board_id" resultType="long" order="BEFORE">
      select seq_busanguide.nextval from dual
    </selectKey>
    insert into board(
      board_id,
      member_id,
      nickname,
      b_title,
      b_contents
    ) values (
      #{board_id},
      #{member_id},
      #{nickname},
      #{b_title},
      #{b_contents}
    )
  </insert>
  
  <select id="findBoards" resultType="board">
    select * from board 
    <if test="_parameter != null">
    	where title like '%' || #{searchText} || '%'
    </if>
    order by 
    	wr_date desc
  </select>

  <select id="findBoard" resultType="board">
    select * from board where board_id = #{board_id}
  </select>

  <update id="updateBoard">
    update board
    <set>
        <if test="b_title != null">b_title = #{b_title},</if>
        <if test="b_contents != null">b_contents = #{b_contents},</if>
        <if test="b_view_count != null">b_view_count = #{b_view_count}</if>
        <if test="b_like_count != null">b_like_count = #{b_like_count}</if>
        <if test="b_com_count != null">b_com_count = #{b_com_count}</if>
    </set>
    where board_id = #{board_id}
  </update>

  <delete id="removeBoard">
    delete from board where board_id = #{board_id}
  </delete>
  
  <insert id="saveFile">
  	<selectKey keyProperty="attached_file_id" resultType="long" order="BEFORE">
  		select seq_board.nextval from dual
  	</selectKey>
  	insert into attached_file (
  		attached_file_id,
  		board_id,
  		original_filename,
  		saved_filename,
  		file_size
  	) values (
  		#{attached_file_id},
  		#{board_id},
  		#{original_filename},
  		#{saved_filename},
  		#{file_size}
  	)
  </insert>
  
  <select id="findFileByBoardId" resultType="file">
  	select * from attached_file where board_id = #{board_id}
  </select>
  
  <select id="findFileByAttachedFileId" resultType="file">
  	select * from attached_file where attached_file_id = #{attached_file_id}
  </select>
  
  <select id="getTotal" resultType="int">
  	select count(*) from board
  	<if test="_parameter != null">
  		where title like '%' || #{searchText} || '%'
  	</if>
  </select>
  
  <delete id="removeAttachedFile">
  	delete attached_file where attached_file_id = #{attached_file_id}
  </delete>
  
  
  
  
</mapper>