<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.repository.CommentsMapper">
  <!-- 리플 등록 -->
  <insert id="saveComment">
	  <selectKey keyProperty="comment_id" resultType="long" order="BEFORE">
	  	select seq_busanguide.nextval from dual
	  </selectKey>
	  insert into comments(
  		comment_id,
  		board_id,
  		member_id,
  		nickname,
  		content
	  ) values (
		#{comment_id},
 		#{board_id},
 		#{member_id},
 		#{nickname},
 		#{content}
	  )
  </insert>
  
  <!-- 리플 읽기 -->
  <select id="findComment" resultType="comments">
  	select * from comments where comment_id = #{comment_id}
  </select>
  
  <!-- 리플 목록 -->
  <select id="findComments" resultType="comments">
  	select * from comments where board_id = #{board_id} order by wr_date asc
  </select>
  
  <!-- 리플 수정 -->
  <update id="updateComment">
    update comments
    <set>
        <if test="content != null">content = #{content}</if>
    </set>
    where comment_id = #{comment_id}
  </update>
  
  <!-- 리플 삭제 -->
  <delete id="removeComment">
  	delete from comments
  	where  
  		comment_id = #{comment_id}
  </delete>
  
  
  
  
  
</mapper>